#dashboard
  width: $ancho100
  padding: 10px

fieldset
  width: 96%

#ridestop
  width: $ancho100
  display: flex
  justify-content: space-between

#btnAgregarRide
  cursor: pointer
  width: 30px

table
  font-family: arial, sans-serif
  border-collapse: collapse
  width: 100%

td, th
  border: 1px solid #dddddd
  text-align: left
  padding: 8px

tr:nth-child(even)
  background-color: #dddddd

.btnTablaRide
  cursor: pointer

#buscarRide
  display: flex
  justify-content: center
  div
    padding: 20px 10px