.lblformride
  font-weight: bold

#contenedorformrideprincipal
  width: $ancho100
  display: flex

#contenedorformrideprincipalderecha
  width: $ancho100
  display: flex
  flex-direction: column

#contenedor_formride1
  display: flex
  flex-direction: column
  div
    padding: 10px

#contenedor_formride2
  display: flex
  margin-left: 50px
  div
    padding: 10px

#destinosform
    display: flex

.inputformride
  padding: 5px
  width: 230px

#h3cuando
  margin-top: -20px

#botones_formride
  display: flex
  justify-content: center
  margin-top: 80px
  margin-right: 200px
  button
    margin: 10px !important