header
  width: $ancho100
  position: fixed
  top: 0
  left: 0
  right: 0

.headertop
  background-color: #054f79
  color: white
  display: flex
  justify-content: center

.headersub1
  width: 80% 
  display: flex
  justify-content: space-between

.headersub2
  display: flex
  align-items: center

.headerbottom
  background-color: #08476a
  color: white

.cperfil
  cursor: pointer

/* MENU
.menusub1
  display: flex
  justify-content: center
  div
      width: 80% 
      ul
          padding: 0
          margin: 0
  

nav
  width: 100%

  ul
    ul
      display: none

    li:hover > ul
      display: block

    &:after
      content: ""
      clear: both
      display: block

    li
      float: left
      position: relative
      list-style-type: none

      &:hover
        color: rgba(213, 213, 228, 0.67)
        a
          color: rgba(213, 213, 228, 0.67)

      &.active
        background-color: #FEFDFC !important

        a
          color: #054f79 !important
        li 
          background-color: #08476a
          width: 130px
          a
            color: white !important
            &:hover
              color: rgba(213, 213, 228, 0.67) !important

      a
        display: block
        padding: 20px 30px
        font-weight: bold
        color: #ffffff
        text-decoration: none
        font-family: sans-serif
      li 
        background-color: #08476a
        width: 130px
        a
          color: white !important
          &:hover
            color: rgba(213, 213, 228, 0.67) !important

    ul
      background: #5f6975
      padding: 0
      position: absolute
      top: 100%

      li
        float: none
        position: relative

        a
          padding: 15px 10px
          color: #ffffff