#containerperfil
  width: 35%
  background-color: white
  padding: 50px
  margin-top: 20px
  display: flex
  align-items: center
  flex-direction: column

.botonperfil
  margin: 10px 0px
  width: 200px
  font-weight: bold
  cursor: pointer
  color: #494949 !important
  text-decoration: none
  background: #ffffff
  padding: 15px
  border: 1px solid #494949 !important
  transition: all 0.4s ease 0s
  border-radius: 5px
  &:hover
    color: #ffffff !important
    background: rgb(82, 176, 48)
    border-color: rgb(82, 176, 48) !important
    transition: all 0.4s ease 0s

.botonperfil2
  margin: 10px 0px
  width: 200px
  font-weight: bold
  cursor: pointer
  color: #494949 !important
  text-decoration: none
  background: #e7e3e3
  padding: 15px
  border: 1px solid #acacac !important
  transition: all 0.4s ease 0s
  border-radius: 5px
  &:hover
    background: rgb(241, 241, 241)
    transition: all 0.4s ease 0s

.inputperfil
  padding: 10px
  border: 0
  width: 200px
  border-bottom: 1px solid #d1c6c6
  margin: 13px

.inputerror
  border: 3px solid red

.selectperfil
  padding: 10px
  border: 0
  width: 220px
  border-bottom: 1px solid #d1c6c6
  margin: 13px
  margin-left: 10px

.containerinicio, .containerregistro
  display: flex
  flex-direction: column
  align-items: center

#datos_requeridos
  color: #e73939
  font-size: 12px

#contenedor_mensajerequeridos
  width: 200px
  text-align: left