@import 'variables'
@import 'header'
@import 'perfil'
@import 'dashboard'
@import 'formulario_ride'

body
  background-color: #dce0e4
  font-family: "Trebuchet MS", Helvetica, sans-serif

a
  text-decoration: none
  color: white

.wd100
  width: $ancho100

hr
  border: 0
  height: 0
  border-top: 1px solid rgba(0, 0, 0, 0.1)
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)

.titulogris
  color: gray


.contenido_principal
  margin-top: 121px


.containercenter
    display: flex
    justify-content: center
    width: $ancho100

.container
  width: 80%
  background-color: white
  padding: 5px

input:focus,select:focus
    outline: none

#dashboarderror
  width: $ancho100
  text-align: center


