header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.headertop {
  background-color: #054f79;
  color: white;
  display: flex;
  justify-content: center; }

.headersub1 {
  width: 80%;
  display: flex;
  justify-content: space-between; }

.headersub2 {
  display: flex;
  align-items: center; }

.headerbottom {
  background-color: #08476a;
  color: white; }

.cperfil {
  cursor: pointer; }

/* MENU */
.menusub1 {
  display: flex;
  justify-content: center; }
  .menusub1 div {
    width: 80%; }
    .menusub1 div ul {
      padding: 0;
      margin: 0; }

nav {
  width: 100%; }
  nav ul ul {
    display: none; }
  nav ul li:hover > ul {
    display: block; }
  nav ul:after {
    content: "";
    clear: both;
    display: block; }
  nav ul li {
    float: left;
    position: relative;
    list-style-type: none; }
    nav ul li:hover {
      color: rgba(213, 213, 228, 0.67); }
      nav ul li:hover a {
        color: rgba(213, 213, 228, 0.67); }
    nav ul li.active {
      background-color: #FEFDFC !important; }
      nav ul li.active a {
        color: #054f79 !important; }
      nav ul li.active li {
        background-color: #08476a;
        width: 130px; }
        nav ul li.active li a {
          color: white !important; }
          nav ul li.active li a:hover {
            color: rgba(213, 213, 228, 0.67) !important; }
    nav ul li a {
      display: block;
      padding: 20px 30px;
      font-weight: bold;
      color: #ffffff;
      text-decoration: none;
      font-family: sans-serif; }
    nav ul li li {
      background-color: #08476a;
      width: 130px; }
      nav ul li li a {
        color: white !important; }
        nav ul li li a:hover {
          color: rgba(213, 213, 228, 0.67) !important; }
  nav ul ul {
    background: #5f6975;
    padding: 0;
    position: absolute;
    top: 100%; }
    nav ul ul li {
      float: none;
      position: relative; }
      nav ul ul li a {
        padding: 15px 10px;
        color: #ffffff; }

#containerperfil {
  width: 35%;
  background-color: white;
  padding: 50px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column; }

.botonperfil {
  margin: 10px 0px;
  width: 200px;
  font-weight: bold;
  cursor: pointer;
  color: #494949 !important;
  text-decoration: none;
  background: #ffffff;
  padding: 15px;
  border: 1px solid #494949 !important;
  transition: all 0.4s ease 0s;
  border-radius: 5px; }
  .botonperfil:hover {
    color: #ffffff !important;
    background: #52b030;
    border-color: #52b030 !important;
    transition: all 0.4s ease 0s; }

.botonperfil2 {
  margin: 10px 0px;
  width: 200px;
  font-weight: bold;
  cursor: pointer;
  color: #494949 !important;
  text-decoration: none;
  background: #e7e3e3;
  padding: 15px;
  border: 1px solid #acacac !important;
  transition: all 0.4s ease 0s;
  border-radius: 5px; }
  .botonperfil2:hover {
    background: #f1f1f1;
    transition: all 0.4s ease 0s; }

.inputperfil {
  padding: 10px;
  border: 0;
  width: 200px;
  border-bottom: 1px solid #d1c6c6;
  margin: 13px; }

.inputerror {
  border: 3px solid red; }

.selectperfil {
  padding: 10px;
  border: 0;
  width: 220px;
  border-bottom: 1px solid #d1c6c6;
  margin: 13px;
  margin-left: 10px; }

.containerinicio, .containerregistro {
  display: flex;
  flex-direction: column;
  align-items: center; }

#datos_requeridos {
  color: #e73939;
  font-size: 12px; }

#contenedor_mensajerequeridos {
  width: 200px;
  text-align: left; }

#dashboard {
  width: 100%;
  padding: 10px; }

fieldset {
  width: 96%; }

#ridestop {
  width: 100%;
  display: flex;
  justify-content: space-between; }

#btnAgregarRide {
  cursor: pointer;
  width: 30px; }

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%; }

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px; }

tr:nth-child(even) {
  background-color: #dddddd; }

.btnTablaRide {
  cursor: pointer; }

#buscarRide {
  display: flex;
  justify-content: center; }
  #buscarRide div {
    padding: 20px 10px; }

.lblformride {
  font-weight: bold; }

#contenedorformrideprincipal {
  width: 100%;
  display: flex; }

#contenedorformrideprincipalderecha {
  width: 100%;
  display: flex;
  flex-direction: column; }

#contenedor_formride1 {
  display: flex;
  flex-direction: column; }
  #contenedor_formride1 div {
    padding: 10px; }

#contenedor_formride2 {
  display: flex;
  margin-left: 50px; }
  #contenedor_formride2 div {
    padding: 10px; }

#destinosform {
  display: flex; }

.inputformride {
  padding: 5px;
  width: 230px; }

#h3cuando {
  margin-top: -20px; }

#botones_formride {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-right: 200px; }
  #botones_formride button {
    margin: 10px !important; }

body {
  background-color: #dce0e4;
  font-family: "Trebuchet MS", Helvetica, sans-serif; }

a {
  text-decoration: none;
  color: white; }

.wd100 {
  width: 100%; }

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.titulogris {
  color: gray; }

.contenido_principal {
  margin-top: 121px; }

.containercenter {
  display: flex;
  justify-content: center;
  width: 100%; }

.container {
  width: 80%;
  background-color: white;
  padding: 5px; }

input:focus, select:focus {
  outline: none; }

#dashboarderror {
  width: 100%;
  text-align: center; }

/*# sourceMappingURL=principal.css.map */
